In [1]:
list=[['Emma',30],['Daisy',20],['Evenlyn',19]]
print(list)

[['Emma', 30], ['Daisy', 20], ['Evenlyn', 19]]

In [4]:
for l in list:
    print(l)

['Emma', 30]
['Daisy', 20]
['Evenlyn', 19]

In [42]:
areas=["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

eat_sleep_area=areas[3]+areas[7]
print(eat_sleep_area)
areas=areas+['poolhouse',34.5]

print(areas)

28.75
['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5, 'poolhouse', 34.5]

In [4]:
downstairs=areas[:6] #The first 6
upstairs=areas[-4:] #The last 4
print(downstairs)
print(upstairs)
print(areas[:]) # from begin to end

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]
['bedroom', 10.75, 'bathroom', 9.5]
['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

In [10]:
house=[['bathroom',2.4],['kitchen',8.9],['bedroom',4.5]]

In [14]:
print(f"The area of the bedroom is {house[-1][1]}")

The area of the bedroom is 4.5

In [36]:
list_x=[1,2,3]
y=list(list_x)
print(y)
y[0]=2
print(y)
print(list_x)

[1, 2, 3]
[2, 2, 3]
[1, 2, 3]

In [38]:
k=y[:]
print(k)
k[1]=4
print(k)
print(y)

[2, 2, 3]
[2, 4, 3]
[2, 2, 3]

In [39]:
del(k[0])
print(k)
#del(k[0]);del(k[9])
#del(k[:3])

[4, 3]

In [43]:
height=[9,7,5,3,2]
tallest=max(height)
print(tallest)

shortest=min(height)
print(shortest)

9
2

In [53]:
#round function has two parameters like , the number you want to rount and then how much you would round that number
float=7.9867890
round(float)

8

In [54]:
float2=4.5666666666
print(round(float2,5))

4.56667

In [55]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [57]:
?round

In [59]:
pow(2,3,5)

3

In [67]:
word=['evening','morning','classroom','date']
word_sorted=sorted(word,key=len,reverse=True)
print(word_sorted)
word_sorted=sorted(word,key=lambda x:x)
print(word_sorted)

['classroom', 'evening', 'morning', 'date']
['classroom', 'date', 'evening', 'morning']

In [66]:
data=[(3,1),(4,3),(5,0),(8,2)]
data_sorted=sorted(data,key=lambda x:x[1],reverse=False)
print(data_sorted)

[(4, 3), (8, 2), (3, 1), (5, 0)]

In [71]:
people=[
    {
        'name':'yoon',
        'age':19
    },
    {
        'name':'hla',
        'age':30
    },
    {
        'name':'aung',
        'age':20
    },
    {
        'name':'nyan',
        'age':26
    }
]

sort_with_age=sorted(people,key=lambda x:x['age'],reverse=True)
print(sort_with_age)

[{'name': 'hla', 'age': 30}, {'name': 'nyan', 'age': 26}, {'name': 'aung', 'age': 20}, {'name': 'yoon', 'age': 19}]

In [77]:
place="poolhouse"
print(place.upper())
print(place.count('o'))

result=place.replace('oo','ee')
print(result)

print(place.rindex('o'))

POOLHOUSE
3
peelhouse
5

TypeError: list.append() takes exactly one argument (2 given)