In [1]:
import pandas as pd
import numpy as np

df=pd.read_csv('diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [2]:
df_new=df.drop_duplicates(subset="Age")

In [5]:
df_new.head(3)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1

In [8]:
df_new['Pregnancies'].value_counts(sort=True)

Pregnancies
5     8
7     7
8     6
3     5
4     5
1     4
0     4
10    4
2     3
9     3
6     1
11    1
17    1
Name: count, dtype: int64

In [9]:
df_new['BMI'].value_counts(normalize=True)

BMI
32.9    0.038462
31.6    0.038462
33.7    0.038462
25.0    0.038462
0.0     0.038462
26.8    0.019231
27.4    0.019231
42.0    0.019231
34.7    0.019231
40.5    0.019231
35.1    0.019231
31.2    0.019231
27.9    0.019231
40.2    0.019231
21.1    0.019231
40.9    0.019231
37.7    0.019231
30.0    0.019231
32.4    0.019231
38.5    0.019231
19.6    0.019231
25.9    0.019231
32.5    0.019231
22.7    0.019231
33.6    0.019231
37.1    0.019231
26.6    0.019231
23.3    0.019231
28.1    0.019231
43.1    0.019231
25.6    0.019231
31.0    0.019231
35.3    0.019231
30.5    0.019231
38.0    0.019231
27.1    0.019231
30.1    0.019231
25.8    0.019231
39.3    0.019231
39.8    0.019231
39.4    0.019231
23.2    0.019231
34.1    0.019231
36.0    0.019231
27.6    0.019231
33.2    0.019231
35.6    0.019231
Name: proportion, dtype: float64

In [12]:
df_new.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [15]:
counts=df_new['BMI'].value_counts(sort=True)
print(counts)

BMI
32.9    2
31.6    2
33.7    2
25.0    2
0.0     2
26.8    1
27.4    1
42.0    1
34.7    1
40.5    1
35.1    1
31.2    1
27.9    1
40.2    1
21.1    1
40.9    1
37.7    1
30.0    1
32.4    1
38.5    1
19.6    1
25.9    1
32.5    1
22.7    1
33.6    1
37.1    1
26.6    1
23.3    1
28.1    1
43.1    1
25.6    1
31.0    1
35.3    1
30.5    1
38.0    1
27.1    1
30.1    1
25.8    1
39.3    1
39.8    1
39.4    1
23.2    1
34.1    1
36.0    1
27.6    1
33.2    1
35.6    1
Name: count, dtype: int64

In [20]:
proba=df_new['BMI'].value_counts( sort=True, normalize=True)
print(proba)

BMI
32.9    0.038462
31.6    0.038462
33.7    0.038462
25.0    0.038462
0.0     0.038462
26.8    0.019231
27.4    0.019231
42.0    0.019231
34.7    0.019231
40.5    0.019231
35.1    0.019231
31.2    0.019231
27.9    0.019231
40.2    0.019231
21.1    0.019231
40.9    0.019231
37.7    0.019231
30.0    0.019231
32.4    0.019231
38.5    0.019231
19.6    0.019231
25.9    0.019231
32.5    0.019231
22.7    0.019231
33.6    0.019231
37.1    0.019231
26.6    0.019231
23.3    0.019231
28.1    0.019231
43.1    0.019231
25.6    0.019231
31.0    0.019231
35.3    0.019231
30.5    0.019231
38.0    0.019231
27.1    0.019231
30.1    0.019231
25.8    0.019231
39.3    0.019231
39.8    0.019231
39.4    0.019231
23.2    0.019231
34.1    0.019231
36.0    0.019231
27.6    0.019231
33.2    0.019231
35.6    0.019231
Name: proportion, dtype: float64

In [1]:
def generate_time_slots():
    time_slots = []
    start_hour, start_minute = 9, 0  # Start at 9:00 AM
    duration = 1  # Each slot is 1 hour

    for i in range(18):
        end_hour = start_hour + (start_minute + 60 * duration) // 60
        end_minute = (start_minute + 60 * duration) % 60
        time_slots.append((f"{start_hour:02}:{start_minute:02}", f"{end_hour:02}:{end_minute:02}"))
        start_hour = end_hour
        start_minute = end_minute
    return time_slots

time_slots = generate_time_slots()