In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv('diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [2]:
df['Age'].mean()

33.240885416666664

In [3]:
df['BloodPressure'].var()

374.6472712271838

In [4]:
df['Glucose'].mode()

0     99
1    100
Name: Glucose, dtype: int64

In [5]:
df['Glucose'].median()

117.0

In [7]:
df['Age'].sum()

25529

In [8]:
df['Age'].max()

81

In [9]:
df['Age'].min()

21

In [10]:
# .agg() method for creating custom summarky statistic

#30th percent of col data
def pct30(col):
    return col.quantile(0.3)

df['Glucose'].agg(pct30)

102.0

In [11]:
df['Age'].agg(pct30)

25.0

In [13]:
# used in more than 1 col

df[['Age','BMI']].agg(pct30)

Age    25.0
BMI    28.2
dtype: float64

In [14]:
def pct40(col):
    return col.quantile(0.4)

# we can pass a list of function to the agg()

df['Age'].agg([pct40,pct30])

pct40    27.0
pct30    25.0
Name: Age, dtype: float64

In [15]:
df[['Glucose','BloodPressure']].agg([pct40,pct30])

       Glucose  BloodPressure
pct40    109.0           68.0
pct30    102.0           64.0

In [16]:
df['Age'].cumsum()

0         50
1         81
2        113
3        134
4        167
       ...
763    25402
764    25429
765    25459
766    25506
767    25529
Name: Age, Length: 768, dtype: int64

In [17]:
df['Age'].cummax()

0      50
1      50
2      50
3      50
4      50
       ..
763    81
764    81
765    81
766    81
767    81
Name: Age, Length: 768, dtype: int64

In [18]:
df['Age'].cumprod()

0            50
1          1550
2         49600
3       1041600
4      34372800
         ...
763           0
764           0
765           0
766           0
767           0
Name: Age, Length: 768, dtype: int64

In [22]:
# IQR -inter-quartile range, which is the 75th percentile minus the 25th percentile.

def iqr(col):
    return col.quantile(0.75)-col.quantile(0.25)

df[['Glucose']].agg([iqr,pct40])

       Glucose
iqr      41.25
pct40   109.00

In [25]:
df[['Glucose','BloodPressure','Insulin']].agg([iqr,np.median])

        Glucose  BloodPressure  Insulin
iqr       41.25           18.0   127.25
median   117.00           72.0    30.50

In [2]:
three_person=df[:3]
three_person

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1

### Cumulative Sum
- cumsum()
- cummax()
- cummin()
- cumprod()

In [3]:
three_person=three_person.sort_values('Age',ascending=True)
three_person['BMI_Cumulative_Sum']=three_person['BMI'].cumsum()
three_person['Pregnancies_Cumulative_Max']=three_person['Pregnancies'].cummax()

three_person[['Age','BMI_Cumulative_Sum','Pregnancies_Cumulative_Max']]

   Age  BMI_Cumulative_Sum  Pregnancies_Cumulative_Max
1   31                26.6                           1
2   32                49.9                           8
0   50                83.5                           8

In [6]:
three_person.loc[:,['Age','BMI_Cumulative_Sum']]

   Age  BMI_Cumulative_Sum
1   31                26.6
2   32                49.9
0   50                83.5